@if (Request.IsAuthenticated)
{
    <div class="well">
        <ul>
            <li>@Html.ActionLink("Create An Event", "Create")</li>
            <li>@Html.ActionLink("All Events", "Index")</li>
            <li>@Html.ActionLink("My Events", "MyEvents")</li>
            <li>@Html.ActionLink("Involved Events", "InvolvedEvents")</li>
        </ul>
    </div>
}