@if (Request.IsAuthenticated)
{
    <div class="well">
        <ul>
            <li>@Html.ActionLink("Create An Event", "Create")</li>
            <li>@Html.ActionLink("My Events", "MyEvents")</li>
            <li>@Html.ActionLink("Attending Events", "Attending")</li>
        </ul>
    </div>
}