@model IEnumerable<BayHelper.Com.Models.Event>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
<div class="span3">
@Html.Partial("_LoggedInEvents")
</div>
<div class="span8">
<center>
    <h2>
        List Of All Events</h2>
</center>
@if (Model.Count() > 0)
{ 
    <table style="margin: auto;">
        <tr>
            <th>
                Rank
            </th>
            <th>
                Vote
            </th>
            <th>
                Title
            </th>
            <th>
                Event Date/Time
            </th>
            <th>
                $
            </th>
            <th>
                T
            </th>
            <th>
                M
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
            <td>
            11
            </td>
                <td>
                    <img src="../../Content/img/icons/verified.png" alt="" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                @{
            if (item.FinanceGoal != 0 && item.FinanceGoal != null)
            {
                <img src="../../Content/img/icons/money.png" alt="" />
            }
                }
                </td>
                <td>
                @{
            if (item.LaborDescription != string.Empty && item.LaborDescription != null)
            {
                <img src="../../Content/img/icons/time.png" alt="" />
            }
                }
                <td>
                @{
            if (item.ResourcesDescription != string.Empty && item.ResourcesDescription != null)
            {
                <img src="../../Content/img/icons/materials.png" alt="" />
            }
                }
                </td>
            </tr>
        }
    </table>
}
else
{ 
    <p><center>No events available at this time.</center></p>
}
</div>
</div>