@model IEnumerable<BayHelper.Com.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="span7">
<table>
    <tr>
        <th>
            Verified
        </th>
        <th>
            Title
        </th>
        <th>
            DueDate
        </th>
        <th>
            &nbsp;&nbsp;$ &nbsp;&nbsp;&nbsp;&nbsp; T &nbsp;&nbsp;&nbsp;&nbsp; M
        </th>
        <th>
            FinanceGoal
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="../../Content/img/icons/verified.png" alt=""/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            <img src="../../Content/img/icons/money.png" alt=""/>    <img src="../../Content/img/icons/time.png" alt=""/>    <img src="../../Content/img/icons/materials.png" alt="" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinanceGoal)
        </td>
    </tr>
}
    </table>
    </div>