@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account Details</h2>
<fieldset><legend>@User.Identity.Name</legend>asdfjsasdfsadfdfhasjldfhwack!  asdfsadfasdf</fieldset>
