@{
    ViewBag.Title = "About Us";
    ViewBag.AboutActive = "active";
}

<h2>About</h2>
<p>
<h2>About</h2>
<p>
    <h4> A Team Named L.A.R.S.</h4>
     <br/>
     <div>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hi we are "A Team Named L.A.R.S.", it's like A Tribe Called Quest. 
     You have to say the whole thing and that includes the "A Team Named" part. We are a group of Computer 
     Science students from USF. Originally it was Luis, Alex, Robert (Bobby), and Sean. We have added a new member,
     his name is Allen. So I suppose we are now A Team Named L.A.A.R.S. and please don't forget the A Team Named part. 
     </div>

     <br/>
     <br/>
     <br/>
     <img alt="Luis" src="/Content/img/luis_about.jpg" />
     <img alt="Alex" src="/Content/img/alex_about.jpg"" />
     <img alt="Robert (Bobby)" src="/Content/img/bobby_about.jpg"" />
     <br/> Luis &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Alex   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Bobby&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <br/>
     <img alt="Sean" src="/Content/img/sean_about.jpg"" />
     <img alt="Allen" src="/Content/img/allen_about.jpg"" />
     <br/>Sean &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Allen   
     <br/>
</p>