@{
    ViewBag.Title = "About Us";
    ViewBag.AboutActive = "active";
}
<div class="well well-dark">
    <h2>
        About</h2>
    <h4>
        A Team Named L.A.R.S.</h4>
    <br />
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hi we are "A Team Named L.A.R.S." We are a group of Computer Science students from USF. Originally it was Luis,
        Alex, Robert (Bobby), and Sean. We have added a new member, his name is Allan.
    </div>
    <br />
    <br />
    <br />
    <img alt="Luis" src="/Content/img/luis_about.jpg" />
    <img alt="Alex" src="/Content/img/alex_about.jpg" />
    <img alt="Robert (Bobby)" src="/Content/img/bobby_about.jpg" />
    <br />
    Luis &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Alex &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bobby&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <img alt="Sean" src="/Content/img/sean_about.jpg" />
    <img alt="Allen" src="/Content/img/allan_about.png" />
    <br />
    Sean &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Allan
    <br />
</div>
