@{
    ViewBag.Title = "DiscoverTampaBay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.DiscoverActive = "active";
}

<h2>DiscoverTampaBay</h2>
<p>http://www.tampabay360.com/Attractions</p>