@{
    ViewBag.Title = "DiscoverTampaBay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.DiscoverActive = "active";
}

<h2>Discover Tampa Bay</h2>
<p>By becoming an active member, you are participating in building a better community for years to come. We have set up a system geared towards facilitating involvement on a community level, and creating relationships that will last in a constructive manner. You are free to chose activities that interest you and donate your time and resoures to see the actualization of those projects. Thank you for participating and we hope you have pleasant experience working with the people in the greater Tampa Bay Area!</p>
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=tampa&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=37.735377,86.572266&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Tampa,+Hillsborough,+Florida&amp;ll=27.950739,-82.457199&amp;spn=0.291143,0.439453&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=tampa&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=37.735377,86.572266&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Tampa,+Hillsborough,+Florida&amp;ll=27.950739,-82.457199&amp;spn=0.291143,0.439453&amp;z=11&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
