@{
    ViewBag.Title = "tampa needs us";
}
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item">
            <img src="../../Content/img/header6.png" width="940px" height="auto" alt="">
            <div class="carousel-caption">
                <h4>
                    Creativity</h4>
                <p>
                    Unleash your inner artist.</p>
            </div>
        </div>
        <div class="item active">
             <img src="../../Content/img/header.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Tampa Needs Us!</h4>
                <p>
                    A service for the greater Tampa Bay Area.</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/img/header2.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Join us</h4>
                <p>
                    Register today and get involved.</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/img/header3.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Involvement</h4>
                <p>
                    Find ways to help people in your local community.</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/img/header4.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Friendship</h4>
                <p>
                    Meet new people doing exciting projects.</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/img/header5.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Service</h4>
                <p>
                    Contribute a hand and make a difference.</p>
            </div>
        </div>
        
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control"
        href="#myCarousel" data-slide="next">›</a>
</div>
