@{
    ViewBag.Title = "tampa needs us";
}
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item">
            <img src="../../Content/img/header6.png" width="940px" height="auto" alt="">
            <div class="carousel-caption">
                <h4>
                    Creativity</h4>
                <p>
                    Unleash your inner artist.</p>
            </div>
        </div>
        <div class="item active">
            <img src="../../Content/img/header.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Tampa Needs Us!</h4>
                <p>
                    A service for the greater Tampa Bay Area.</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/img/header2.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Join us</h4>
                <p>
                    Register today and get involved.</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/img/header3.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Involvement</h4>
                <p>
                    Find ways to help people in your local community.</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/img/header4.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Friendship</h4>
                <p>
                    Meet new people doing exciting projects.</p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/img/header5.png" alt="">
            <div class="carousel-caption">
                <h4>
                    Service</h4>
                <p>
                    Contribute a hand and make a difference.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control"
        href="#myCarousel" data-slide="next">›</a>
</div>
<div class="row">
    <div class="span4">
        <span><h3>Popular Events</h3><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut odio mi, vitae
            vestibulum neque. Donec interdum leo ac est scelerisque sed varius turpis commodo.
            Phasellus ut nibh lectus. Quisque non augue non eros egestas varius. Nulla facilisi.
            Proin blandit commodo nibh a pellentesque. Proin tincidunt nibh nec ligula rhoncus
            consectetur. Cras et erat eros, vel pellentesque enim.</span>
    </div>
    <div class="span4">

        <span><h3>Upcoming Events</h3><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut odio mi, vitae
            vestibulum neque. Donec interdum leo ac est scelerisque sed varius turpis commodo.
            Phasellus ut nibh lectus. Quisque non augue non eros egestas varius. Nulla facilisi.
            Proin blandit commodo nibh a pellentesque. Proin tincidunt nibh nec ligula rhoncus
            consectetur. Cras et erat eros, vel pellentesque enim.</span>
    </div>
    <div class="span4">
        <span><h3>Newest Events</h3><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut odio mi, vitae
            vestibulum neque. Donec interdum leo ac est scelerisque sed varius turpis commodo.
            Phasellus ut nibh lectus. Quisque non augue non eros egestas varius. Nulla facilisi.
            Proin blandit commodo nibh a pellentesque. Proin tincidunt nibh nec ligula rhoncus
            consectetur. Cras et erat eros, vel pellentesque enim.</span>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<center>Link to all Events</center>
